<div class = "header">
  <p><%=link_to"Wikinimous", articles_path%></p>
  <p><%=link_to"New Article", articles_new_path%></p>
</div>
<div class = "article">
  <h1><%=@article.title%></h1>
  <h2><%=@article.content%></h2>

  <p>Lorem ipsum dolor sit amet. Non libero dolorem qui reprehenderit dolores aut alias maiores. Et iusto unde non architecto consequatur et enim perspiciatis et incidunt blanditiis rem laboriosam velit qui atque maxime. Et sunt voluptatem ut incidunt dolores eos iure commodi. Ad enim nihil ut dolorem optio et fuga voluptates qui aspernatur recusandae est quod amet facere voluptatum ut quas repellendus.</p>

</div>
<p><%=link_to "Edit this article", articles_edit_path%></p>
